.nav {
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: white;
}

.image-uploader{
  min-width: 80%;
}

.header{
  margin: 0px;
}

.image-collection{
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.image-collection li{
  max-width: 100px;
}
